// font
$font_default: system-ui;
$font_primary: Yellowtail, cursive;

// color
$color_default: rgba(0, 0, 0, 0.95);
$color_primary: #fc8060;
$color_alt: #70a5b5;
$color_yellow: #fff4d5;

// misc
$border_radius: 0.5rem;
$line_height: 1.5;
